

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.State,
.heading{
    text-align: center;
    font-size: 50px;
    color: rgb(29, 2, 104);
}
.search {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 50%;
    height: 70vh; 
    margin: 0 auto;
    position: relative;
    top: 40px; 
    left: 40px;
}

.search input{
    /* border:0; */
    outline:0;
    background:ebfffc;
    color:#555;
    padding: 10px 25px;
    height:30px;
    border-radius: 30px;
    flex:1;
    margin-right : 16px;
    font-size: 18px;


    
 
}

.search_btn {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px; 
    height: 60px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-magnifying-glass {
    font-size: 36px; 
}



.AirQuality{
    width:90%;
    max-width: 470px;
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px);
    color: navy;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.MainPollutant{
    width:90%;
    max-width: 470px;
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px);
    color: navy;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.card{
    background-image: url("./skyscape.jpg");

    width:90%;
    max-width: 470px;
   
    margin: 100px auto 0;
    padding: 40px 35px;
    text-align: center;
    background-size: cover;
    background-position: center;
}

.col{
    display: flex;
  
    

}

#_City,
#_State,
#airQuality,
#mainPollutant{
    font-size: 23px;
    margin-top: 6px;
    text-align: center;

}




#city_btn{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    height: 30px;
    width: 150px;
    font-size: 12px;
    font-weight: 600;
    color: navy;
    cursor: pointer;
    border: none;
    background-size: 300% 100%;
    border-radius: 30px;
    background-color: aliceblue;
    
}
#city_btn:hover{
    background-color: navy;
    color: aliceblue;

}



.city_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 60%; 
    left: 50%;
    transform: translateX(-50%); 
    height: auto; 
    text-align: center;
}



ul {
    list-style-type: none;
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
   
}
ul li {
flex: 1 0 25%;
}

nav{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background: #e0eeffe0;
    width: 110px;
    overflow: hidden;
    transition: width 0.2s linear;
  
}

a{
    position: relative;
    color:navy;
    font-size: 14px;
    display: table;
    width:300px ; 
    padding: 20px;
}

.nav-item{
    position: relative;
    top:12px;
    margin-left: 10px;
}
a:hover{
    background: #eee;
    height: 55px;
}
